<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Nefashot </title>
        <!-- Favicon-->
        
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">Hello {{n}}, welcome to Nefashot</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/apply">Apply</a></li>
                        <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">Signout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Nefashot: Art is the key to the soul</h1>
                            <p class="lead text-white-50 mb-4">Nefashot (Souls in Hebrew) is a social initiative whose purpose is to raise awareness about the field of mental health in the public space through art, culture and dialogue-based events.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <h2>Help Nefashot!</h2>
                    <br>
                    <h3>Apply to be part of Nefashot's staff</h3>



 

 <form method="POST" action="/apply">
 

        <p></p>  
  
 
         <!-- Fullname -->
        <div>
            <label>Full name</label>
            <div class="input-group">
                <input type="text"  name="full_name">
            </div>
        </div>


        <div>
            <label>Age</label>
            <div class="input-group">
                <input type="number"  name="age">
            </div>
        </div>
        

        <div>
            <label>Experience</label>
            <div class="input-group">
                <input type="text"  name="exp">
            </div>
        </div>



        <div></form>
            <input type="submit"/>
        </div>
    </form>

<h3>donate</h3>
<div>
<h4>kindniss is limtless :)</h4>
</div>
 <a href="https://www.paypal.com/us/signin"><button>donate!</button></a>








    
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                
                </div>
            </div>
        </section>


        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Sergey, Mjd, Shiri, Salma @meet Y2</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        
    </body>
</html>
