<<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>events</title>
</head>
<body>


<h3> for aply to any event and have a great opportunity create art </h3>


<h2>application</h2>
 

 <form method="post" action="/">
 

        <p>be on of nfashot community !</p>  
  
 
         <!-- Fullname -->
        <div>
            <label>Full_name</label>
            <div class="input-group">
                <input type="text"  name="full_name">
            </div>
        </div>


        <div>
            <label>age</label>
            <div class="input-group">
                <input type="password"  name="password">
            </div>
        </div>
        

        <div>
            <label>expirience*</label>
            <div class="input-group">
                <input type="text"  name="full_name">
            </div>
        </div>



        <div></form>
            <input type="submit"/>
        </div>
    </form>
    <br>
    <a href="/signup"><button>signup</button></a>





</body>
</html>






