<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>abuot </title>
</head>
<body>


<a href="/"><button>home</button></a>
<a href="/"><button>event</button></a>
<a href="/"><button>help</button></a>


    <h3>Nefashot  is a social initiative whose purpose is to raise awareness about the field of mental health in the public space through art, culture and dialogue-based events.
We believe that art is a human and accessible language that enables an authentic connection among people. We have therefore chosen to engage from  the cultural-artistic space because it provides endless opportunities for new  and meaningful encounters. </h3>

<img src="https://static.wixstatic.com/media/159878_2d2dcf899ba448c993673de13cdb7369~mv2.png/v1/fill/w_807,h_807,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/159878_2d2dcf899ba448c993673de13cdb7369~mv2.png" width =500px hight =500px >

 <video width="450" height="450" controls>
      <source src=”https://youtu.be/nzVBJFVdaOE” type=video/ogg>
      <source src="/build/videos/arcnet.io(5-min).mp4" type=video/mp4>
    </video>


<h2>about us </h2>

<h4>Nefashot (Souls in Hebrew) is a social initiative whose purpose is to raise awareness about the field of mental health in the public space through art, culture and dialogue-based events.
Nefashot Mental Health Festival started as a Jerusalem initiative and in the first two years the events mainly took place in Jerusalem’s public space. However, in 2020, due to the social distancing  restrictions surrounding the corona pandemic, the activity expanded geographically as the events were mostly virtual. Such an unexpected reach led to nationwide involvement and, today, the Nefashot Mental Health Festival will take place in the north, the south, the center and of course in Jerusalem.

Beyond Nefashot’s Mental Health Week, Nefashot actively promotes and participates in mental
health activism throughout the year in order to change the existing conversation and raise public awareness about this issue. Our work seeks to open new spaces for dialogue involving people experiencing mental distress, their support systems and society at large. These spaces give us
on the one hand, the opportunity to listen, understand and expand our preconceived notions about
mental health and on the other hand, the chance to personally de-stigmatize mental distress and seek help in a crisis without shame. 
 
We believe that human encounters involving art, creativity and dialogue are a powerful vehicle towards an authentic and much needed understanding of mental health. 

Mental health is a human issue that involves all of us. We believe that raising awareness about mental health is our duty. We feel a sense of responsibility towards the communities in which we live and the individuals that make up these communities</h4>





<img src="https://static.wixstatic.com/media/159878_0bcdfe697a7645238396b343fa9cfa7f~mv2.jpg/v1/fill/w_600,h_600,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/STD.jpg" width = 450px , height = 400px>






<h5>contact</h5>







</body>





</html>