<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Nefashot </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
        <style>
            hr{
                height: 5px;
                background-color: rgb(74, 35, 90);
                border: none;
            }
        </style>
        <style>
    /* Styling the contact section */
    div h2 {
        color: #007bff;
    }

    div form div {
        margin-bottom: 15px;
    }

    div form label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    div form input[type="text"],
    div form input[type="password"] {
        width: 100%;
        padding: 8px;
    }

    div form input[type="submit"],
    div a button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 16px;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    div form input[type="submit"]:hover,
    div a button:hover {
        background-color: #0056b3;
    }
</style>
    </head>
    <body>
            <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">Hello {{n}}, welcome to Nefashot</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-blue" href="/apply">Apply</a></li>
                        <li class="nav-item"><a class="nav-link text-blue" href="/shop">Shop</a></li>
                        <li class="nav-item"><a class="nav-link text-blue" href="/upload">Sell</a></li>
                        <li class="nav-item"><a class="nav-link text-blue" href="/events">Events</a></li>
                        <li class="nav-item"><a class="nav-link text-blue" href="/">Signout</a></li>
                    </ul>
                </div>
                    <div id="google_translate_element"></div>
 
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        }
    </script>
 
    <script type="text/javascript"
            src=
"https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit">
    </script>
    <img id = "imgi" src="static/logo.png" style="width:100px;">
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2 test">Nefashot: <br>Art is the key to the soul</h1>
                            <p class="text-blue"><br>Nefashot (Souls in Hebrew) is a social initiative whose purpose is to raise awareness about the field of mental health in the public space through art, culture and dialogue-based events.</p>
                            <hr>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-calendar-event vadim3"></i></div>
                        <h2 class="h4 fw-bolder">Our events</h2>
                        <p>See upcoming events, chat with your friends about past ones and sign up to the next event using Google Calendar</p>
                        <a class="text-decoration-none vadim3" href="/events">
                            Go to Events
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-cash-stack vadim3"></i></div>
                        <h2 class="h4 fw-bolder">Help Nefashot</h2>
                        <p>Help Nefashot make people feel better! Apply to be a member, (for High School students) Fill in your volunteering hours, or donate to help keep Nefashot going!</p>
                        <a class="text-decoration-none vadim3" href="/apply">
                            I want to help
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-cart-fill vadim3"></i></div>
                        <h2 class="h4 fw-bolder">Shop for Art</h2>
                        <p>Buy and sell art! Publish your music and paintings, and shop for other people's paintings. </p>
                        <a class="text-decoration-none vadim3" href="/shop">
                            Go to shop
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <section class="py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                <img class = "vadim" src="https://static.wixstatic.com/media/159878_2d2dcf899ba448c993673de13cdb7369~mv2.png/v1/fill/w_807,h_807,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/159878_2d2dcf899ba448c993673de13cdb7369~mv2.png" width =500px hight =500px >

<!--  <video width="450" height="450" controls>
      <source src=”https://youtu.be/nzVBJFVdaOE” type=video/ogg>
      <source src="/build/videos/arcnet.io(5-min).mp4" type=video/mp4>
    </video> -->


<iframe width="1268" height="713" src="https://www.youtube.com/embed/nzVBJFVdaOE" title="&quot;עושים נפשות 2021&quot; - מיזם נפשות" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<hr>
<h2 class = "vadim text-blue">about us </h2>
<br>
<p class = "vadim text-blue">Nefashot (Souls in Hebrew) is a social initiative whose purpose is to raise awareness about the field of mental health in the public space through art, culture and dialogue-based events.
Nefashot Mental Health Festival started as a Jerusalem initiative and in the first two years the events mainly took place in Jerusalem’s public space. However, in 2020, due to the social distancing  restrictions surrounding the corona pandemic, the activity expanded geographically as the events were mostly virtual. Such an unexpected reach led to nationwide involvement and, today, the Nefashot Mental Health Festival will take place in the north, the south, the center and of course in Jerusalem.

Beyond Nefashot’s Mental Health Week, Nefashot actively promotes and participates in mental
health activism throughout the year in order to change the existing conversation and raise public awareness about this issue. Our work seeks to open new spaces for dialogue involving people experiencing mental distress, their support systems and society at large. These spaces give us
on the one hand, the opportunity to listen, understand and expand our preconceived notions about
mental health and on the other hand, the chance to personally de-stigmatize mental distress and seek help in a crisis without shame. 
 
We believe that human encounters involving art, creativity and dialogue are a powerful vehicle towards an authentic and much needed understanding of mental health. 

Mental health is a human issue that involves all of us. We believe that raising awareness about mental health is our duty. We feel a sense of responsibility towards the communities in which we live and the individuals that make up these communities</p>
                </div>
            </div>







        </section>
<div class="vadim">
    <h2>contact </h2>
    <br>
    <div>
        <form method="post" action="/">
            <div>
                <label>Full name........</label>
                <input type="text"  name="full_name">
            </div>
            <div>
                <label>phone nuber...</label>
                <input type="password"  name="password" minlength="6">
            </div>
            <div>
                <label>question..........</label>
                <input type="text"  name="bio" maxlength="280">
            </div>
            <div>
                <input type="submit"/>
            </div>
            <a href="/home"><button>send</button></a>
        </form>
        <p><br><br></p>
    </div>
</div>







        <!-- Footer-->
        <footer class="bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Sergey, Mjd, Shiri, Salma @meet Y2</p><p><br></p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
