<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body class="vadim">
	<h1>Posts</h1>
	<div>
	{% if posts != None %}
		{%for post in posts%}
			<div>
				<img src="{{posts[post]['image']}}" alt="{{posts[post]['discrption']}}"></img>
				<h2>{{posts[post]['price']}}</h2><h2>₪</h2>
				<h2>By The Artist:</h2><h2>{{posts[post]['name']}}</h2>
				<img src="{{posts[post]['image']}}">
			<!-- return jsonify({'video': '/path/to/video.mp4'}) -->
			</div>
		{% endfor %}
	{% else %}
		<h2> There are no Posts yet </h2>
	{% endif %}
	</div>
    <br>
        <a href="/home"><button>Back Home</button></a>
</body>
</html>